.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
  background-color: black;
  width: 100%;
  text-align: center;
  margin-left: 1vw;
  margin-right: 1vw;
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.nav-pills .nav-link {
  margin-left: 1vw;
  margin-right: 1vw;
  width: 100%;
  text-align: center;
  text-decoration: none;
  color: white;
  font-weight: bold;
  &:hover{
    cursor: pointer;
  }
}

.tab-content{
  padding: 2vw;
  background-color: #1A1E25;
  height: min-content;
  color: black;
}

.card {
  margin: 2vw;
  color: white;
  background-color: black;
  border: none;
  margin-bottom: 10px;
}


table{
  color: white;
  font-family: 'Montserrat',sans-serif;
  background-color: black;
  th{
    background-color: rgb(199,0,0);
  }
}

tr {
  padding: 1.5vw;
  font-size: 2vh;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
td {
  padding: 1.5vw;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
th{
  padding: 1.5vw;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.accordion-button{
  display: flex;
  align-items: center;
  gap: 1vw;
  width: 100%;
  padding: 2vw;
  background-color: black;
  color: white;
  font-size: 1rem;
  border: none;
  box-shadow: none;
}

.accordion-item{
  border: none;
  background-color: transparent;
}




