


.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
  background-color: black;
  width: 100%;
  margin-left: 1vw;
  text-align: center;
  margin-right: 1vw;
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.nav-pills .nav-link {
  margin-left: 1vw;
  width: 100%;
  text-decoration: none;
  color: white;
  text-align: center;
  font-weight: bold;
  &:hover{
    cursor: pointer;
  }
}

.tab-content{
  padding: 2vw;
  background-color: black;
  height: min-content;
  color: black;
}

.card {
  margin: 2vw;
  color: black;
  margin-bottom: 10px;
}

