<head>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">
</head>
<header style="background-image:url('https://pbs.twimg.com/media/EtYfbxBXYAEXddV?format=jpg&name=large');position: relative;width: 99.4vw;">

    <div class="text-heading">
        <h1 style="font-size:6vh;position:absolute; top:15vh;left: 10vw;font-family: 'Montserrat', sans-serif;color: rgb(199, 0, 0);text-shadow: 6px 6px 10px white;">
            HOME OF CRICKET
        </h1>
        <h4 style="font-size:5vh;position:absolute; top:32vh;left: 10vw;width: 15vw;font-family: 'Montserrat', sans-serif;">
           <em style="color: black;">ULTIMATE DESTINATION FOR TRUE CRICKET FAN</em> 
        </h4>
    </div>
    
</header>
    <div *ngIf="!datalodedlive">
        <div class="d-flex justify-content-center">
            <div class="spinner-border text-danger" role="status" style="width: 5vw;height: 5vw;">
              <span class="sr-only"></span>
            </div>
          </div>
    </div>
    <div class="container" *ngFor="let data of currentmatchesdata">
         <div class="s_bode" *ngIf="currentmatchesdata.indexOf(data)==0">
             <div class="left_section">
              <h1 style="color: white;font-family: 'Montserrat', sans-serif;font-size: 3vh;">Featured Match</h1>
                     <img src={{data.flag0}} alt="">
                     <h2>{{data.teams[0]}}</h2>
                     <p>{{data.overs[0]}}</p>
             </div>
             <div class="mid_section">
                {{data.title}}
                <br/>
                <br/>
                {{data.progress}}
            </div>
             <div class="right_section">
                 <img src={{data.flag1}} alt="">
                 <h2>{{data.teams[1]}}</h2>
                 <p>{{data.overs[1]}}</p>
             </div>
         </div>
    </div>

  <div class="News" style="margin-left: 2vw;margin-right: 2vw;">
        <div class="news1">
          <div class="section-header">
            <h1>News</h1>  
           </div>


            <div class="container1" >
              <div class="tabs">
                <div class="tabby-tab">
                  <input type="radio" id="tab-1" name="tabby-tabs" checked>
                  <label for="tab-1">Latest News</label>
                  <div class="tabby-content">
                    <div class="container-fluid py-2">
                      <div class="d-flex flex-row flex-nowrap" style="overflow: hidden;overflow-x: scroll;">
                          <div class="card card-body" *ngFor="let news of news" style="background-color: black;">
                            <div class="example-2 card">
                              <div class="wrapper" style=" background: url({{news.Images[0]}}) center / cover no-repeat;">
                                <div class="header">
                                  <div class="date">
                                    <h6 class="day" style="color:black;text-shadow: 2px 2px 4px #ffffff;">{{news.tit[1]}}</h6>
                                  </div>
                         
                                </div>
                                <div class="data">
                                  <div class="content">
                                    <h4 class="author" style="color:black;text-shadow: 2px 2px 4px #ffffff;">{{news.tit[0]}}</h4>
                                    <h3 class="title" style="color:black;text-shadow: 2px 2px 4px #ffffff;"><a href="#" style="color:black;">{{news.Headline}}</a></h3>
                                    <p class="text" style="color:black;text-shadow: 2px 2px 4px #ffffff;">{{news.Content}}</p>
                                    <a href="#" class="button" style="color:black;text-shadow: 2px 2px 4px #ffffff;">Read more</a>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                      </div>
                  </div>
                  
                  </div>
                </div>
            
                <div class="tabby-tab">
                  <input type="radio" id="tab-2" name="tabby-tabs">
                  <label for="tab-2">CRICGEEK Plus</label>
                  <div class="tabby-content">
                    <div class="container-fluid py-2">
                      <div class="d-flex flex-row flex-nowrap" style="overflow: hidden;overflow-x: scroll;">
                          <div class="card card-body" *ngFor="let news of newsplus" style="background-color: black;">
                            <div class="example-2 card">
                              <div class="wrapper" style=" background: url({{news.Images[0]}}) center / cover no-repeat;">
                                <div class="header">
                                  <div class="date">
                                    <h6 class="day" style="color:black;text-shadow: 2px 2px 4px #ffffff;">{{news.tit[1]}}</h6>
                                  </div>
                         
                                </div>
                                <div class="data">
                                  <div class="content">
                                    <h4 class="author" style="color:black;text-shadow: 2px 2px 4px #ffffff;">{{news.tit[0]}}</h4>
                                    <h2 class="title" style="color:black;text-shadow: 2px 2px 4px #ffffff;"><a href="#" style="color:black;">{{news.Headline}}</a></h2>
                                    <p class="text" style="color:black;text-shadow: 2px 2px 4px #ffffff;">{{news.Content}}</p>
                                    <a href="#" class="button" style="color:black;text-shadow: 2px 2px 4px #ffffff;">Read more</a>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                      </div>
                  </div>
                 
                  </div>
                </div>
            
                <div class="tabby-tab">
                  <input type="radio" id="tab-3" name="tabby-tabs">
                  <label for="tab-3">Spotlight</label>
                  <div class="tabby-content">
                    <div class="container-fluid py-2">
                      <div class="d-flex flex-row flex-nowrap" style="overflow: hidden;overflow-x: scroll;">
                          <div class="card card-body" *ngFor="let news of spotlights" style="background-color: black;">
                            <div class="example-2 card">
                              <div class="wrapper" style=" background: url({{news.Images[0]}}) center / cover no-repeat;">
                                <div class="header">
                                  <div class="date">
                                    <h6 class="day" style="color:black;text-shadow: 2px 2px 4px #ffffff;">{{news.tit[1]}}</h6>
                                  </div>
                         
                                </div>
                                <div class="data">
                                  <div class="content">
                                    <h4 class="author" style="color:black;text-shadow: 2px 2px 4px #ffffff;">{{news.tit[0]}}</h4>
                                    <h2 class="title" style="color:black;text-shadow: 2px 2px 4px #ffffff;"><a href="#" style="color:black;">{{news.Headline}}</a></h2>
                                    <p class="text" style="color:black;text-shadow: 2px 2px 4px #ffffff;">{{news.Content}}</p>
                                    <a href="#" class="button" style="color:black;text-shadow: 2px 2px 4px #ffffff;">Read more</a>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                      </div>
                  </div>
                  </div>
                </div>
            

                <div class="tabby-tab">
                  <input type="radio" id="tab-4" name="tabby-tabs">
                  <label for="tab-4">Interviews</label>
                  <div class="tabby-content">
                    <div class="container-fluid py-2">
                      <div class="d-flex flex-row flex-nowrap" style="overflow: hidden;overflow-x: scroll;">
                          <div class="card card-body" *ngFor="let news of interviews" style="background-color: black;">
                            <div class="example-2 card">
                              <div class="wrapper" style=" background: url({{news.Images[0]}}) center / cover no-repeat;">
                                <div class="header">
                                  <div class="date">
                                    <h6 class="day" style="color:black;text-shadow: 2px 2px 4px #ffffff;">{{news.tit[1]}}</h6>
                                  </div>
                         
                                </div>
                                <div class="data">
                                  <div class="content">
                                    <h4 class="author" style="color:black;text-shadow: 2px 2px 4px #ffffff;">{{news.tit[0]}}</h4>
                                    <h2 class="title" style="color:black;text-shadow: 2px 2px 4px #ffffff;"><a href="#" style="color:black;">{{news.Headline}}</a></h2>
                                    <p class="text" style="color:black;text-shadow: 2px 2px 4px #ffffff;">{{news.Content}}</p>
                                    <a href="#" class="button" style="color:black;text-shadow: 2px 2px 4px #ffffff;">Read more</a>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                      </div>
                  </div>
                  </div>
                </div>




                <div class="tabby-tab">
                  <input type="radio" id="tab-5" name="tabby-tabs">
                  <label for="tab-5">Statistics</label>
                  <div class="tabby-content">
                    <div class="container-fluid py-2">
                      <div class="d-flex flex-row flex-nowrap" style="overflow: hidden;overflow-x: scroll;">
                          <div class="card card-body" *ngFor="let news of stats" style="background-color: black;">
                            <div class="example-2 card">
                              <div class="wrapper" style=" background: url({{news.Images[0]}}) center / cover no-repeat;">
                                <div class="header">
                                  <div class="date">
                                    <h6 class="day" style="color:black;text-shadow: 2px 2px 4px #ffffff;">{{news.tit[1]}}</h6>
                                  </div>
                         
                                </div>
                                <div class="data">
                                  <div class="content">
                                    <h4 class="author" style="color:black;text-shadow: 2px 2px 4px #ffffff;">{{news.tit[0]}}</h4>
                                    <h2 class="title" style="color:black;text-shadow: 2px 2px 4px #ffffff;"><a href="#" style="color:black;">{{news.Headline}}</a></h2>
                                    <p class="text" style="color:black;text-shadow: 2px 2px 4px #ffffff;">{{news.Content}}</p>
                                    <a href="#" class="button" style="color:black;text-shadow: 2px 2px 4px #ffffff;">Read more</a>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                      </div>
                  </div>
                  </div>
                </div>


                <div class="tabby-tab">
                  <input type="radio" id="tab-6" name="tabby-tabs">
                  <label for="tab-6">Specials</label>
                  <div class="tabby-content">
                    <div class="container-fluid py-2">
                      <div class="d-flex flex-row flex-nowrap" style="overflow: hidden;overflow-x: scroll;">
                          <div class="card card-body" *ngFor="let news of specials" style="background-color: black;">
                            <div class="example-2 card">
                              <div class="wrapper" style=" background: url({{news.Images[0]}}) center / cover no-repeat;">
                                <div class="header">
                                  <div class="date">
                                    <h6 class="day" style="color:black;text-shadow: 2px 2px 4px #ffffff;">{{news.tit[1]}}</h6>
                                  </div>
                         
                                </div>
                                <div class="data">
                                  <div class="content">
                                    <h4 class="author" style="color:black;text-shadow: 2px 2px 4px #ffffff;">{{news.tit[0]}}</h4>
                                    <h2 class="title" style="color:black;text-shadow: 2px 2px 4px #ffffff;"><a href="#" style="color:black;">{{news.Headline}}</a></h2>
                                    <p class="text" style="color:black;text-shadow: 2px 2px 4px #ffffff;">{{news.Content}}</p>
                                    <a href="#" class="button" style="color:black;text-shadow: 2px 2px 4px #ffffff;">Read more</a>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                      </div>
                  </div>
                  </div>
                </div>



                <div class="tabby-tab">
                  <input type="radio" id="tab-7" name="tabby-tabs">
                  <label for="tab-7">Opinions</label>
                  <div class="tabby-content">
                    <div class="container-fluid py-2">
                      <div class="d-flex flex-row flex-nowrap" style="overflow: hidden;overflow-x: scroll;">
                          <div class="card card-body" *ngFor="let news of opinions" style="background-color: black;">
                            <div class="example-2 card">
                              <div class="wrapper" style=" background: url({{news.Images[0]}}) center / cover no-repeat;">
                                <div class="header">
                                  <div class="date">
                                    <h6 class="day" style="color:black;text-shadow: 2px 2px 4px #ffffff;">{{news.tit[1]}}</h6>
                                  </div>
                         
                                </div>
                                <div class="data">
                                  <div class="content">
                                    <h4 class="author" style="color:black;text-shadow: 2px 2px 4px #ffffff;">{{news.tit[0]}}</h4>
                                    <h2 class="title" style="color:black;text-shadow: 2px 2px 4px #ffffff;"><a href="#" style="color:black;">{{news.Headline}}</a></h2>
                                    <p class="text" style="color:black;text-shadow: 2px 2px 4px #ffffff;">{{news.Content}}</p>
                                    <a href="#" class="button" style="color:black;text-shadow: 2px 2px 4px #ffffff;">Read more</a>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                      </div>
                  </div>
                  </div>
                </div>
               



                
                
              </div>


              
</div>

</div>

    

</div>
<div class="section-header" style="margin-bottom:1vw;margin-left: 2vw;margin-right: 2vw;">
  <h1>VIDEOS</h1>  
 </div>
<div style="height: 45vw; overflow: hidden; overflow-y: auto;">
  <div class="video-container">
  
    <div class="responsive-video">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/-Ka1WGx1myE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
    
  <div class="video-container">
    <div class="responsive-video">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/OOd9Q13qWR8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>

  <div class="video-container">
    <div class="responsive-video">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/elnZzJC_FSU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>


  <div class="video-container">
    <div class="responsive-video">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/VDwka__-ScA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>

  <div class="video-container">
    <div class="responsive-video">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/InFXovNk4lE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>

  <div class="video-container">
    <div class="responsive-video">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/TUuKLGXikBY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>

  <div class="video-container">
    <div class="responsive-video">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/NEsKwv9AdTY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>

  <div class="video-container">
    <div class="responsive-video">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/wNbe5Ox7sbs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>

  <div class="video-container">
    <div class="responsive-video">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/OkzFdeFeJL0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>

  <div class="video-container">
    <div class="responsive-video">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/KO_HTpHjFxI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>

  <div class="video-container">
    <div class="responsive-video">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/uMVvO9GNBgo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>

  <div class="video-container">
    <div class="responsive-video">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/Wuo7f2oumYE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>

  <div class="video-container">
    <div class="responsive-video">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/WXt00UP3vIU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
</div>



  

    


    


    

    



    

    


