


table{
    color: white;
    width: 95vw;
    font-family: 'Montserrat',sans-serif;
    background-color: black;
    th{
      background-color: black;
    }
  }
  
  tr {
    padding: 1.5vw;
    color: white;
    font-size: 2vh;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
  }
  td {
    padding: 1.5vw;
    color: white;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
  }
  th{
    padding: 1.5vw;
    color: white;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
  }