<div class="site-wrap">
<div class="hero overlay" style="background-image: url('assets/images/schduleHeader.jpg');">
  <div class="container">
      <div class="row align-items-center">
          <div class="col-lg-5 mx-auto text-center">
              <h1 class="text-white">Schdule</h1>
              <p>Schedule of tours & series</p>
          </div>
      </div>
  </div>
</div>


  <div class="Loader"  *ngIf="!loadschdule" style="min-height: 100vh;margin-top: 20vh;">
    <div class="d-flex justify-content-center">
        <div class="spinner-border text-white" role="status" style="width: 5vw;height: 5vw;">
            <span class="sr-only"></span>
        </div>
    </div>
  </div>
  

                <div  style="min-height: 100vh;"  *ngIf="loadschdule">
                   <div style="padding: 2vw;">
                    <div class="row">
                      <div class="col-6 title-section">
                        <h2 class="heading">Cricket Schedule 2024-2027</h2>
                      </div>
                    </div>

                    <div *ngFor="let month of scheduleData | keyvalue: originalOrder">
                        <h3 class="mt-4 mb-3">{{month.key}}</h3>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th style="background-color: rgb(199,0,0); color: white;">Tournament</th>
                                    <th style="background-color: rgb(199,0,0); color: white;">Duration</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let event of month.value">
                                    <td style="color: rgb(255,255,255);">{{event.tour}}</td>
                                    <td style="color: rgb(255,255,255);">{{event.duration}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                   </div>
                    </div>

