<div class="site-wrap">
<div class="hero overlay" style="background-image: url('assets/images/schduleHeader.jpg');">
  <div class="container">
      <div class="row align-items-center">
          <div class="col-lg-5 mx-auto text-center">
              <h1 class="text-white">Schdule</h1>
              <p>Schdule of tours & series</p>
          </div>
      </div>
  </div>
</div>


  <div class="Loader"  *ngIf="!loadschdule" style="min-height: 100vh;margin-top: 20vh;">
    <div class="d-flex justify-content-center">
        <div class="spinner-border text-white" role="status" style="width: 5vw;height: 5vw;">
            <span class="sr-only"></span>
        </div>
    </div>
  </div>
  

                <div  style="min-height: 100vh;"  *ngIf="loadschdule">
                   <div class="p-5">
                    <div class="row">
                      <div class="col-6 title-section">
                        <h2 class="heading">Schdule</h2>
                      </div>
                    </div>

                    <table class="p-5" style="width: 100%;">
                        <tr >
                            <th style="background-color: rgb(199,0,0);"> 
                                Schedule for this cricket year
                              </th>
                              <th style="background-color: rgb(199,0,0);"> 
                                &nbsp;
                              </th>
                              <th style="background-color: rgb(199,0,0);"> 
                                &nbsp;
                              </th>
                        </tr>
                
                        <tr *ngFor="let data of schdule">
                          <td>
                            {{data.month}}
                          </td>
                          <td>
                            {{data.tour}}
                          </td>
                          <td>
                            {{data.duration}}
                          </td>
                        </tr>
                      </table>
                      
                   </div>
                    </div>


                  </div>

