<nav (scroll)="onWindowScroll()" class="navbar navbar-expand-lg fixed-top navbar-light ">
  <div class="container-fluid">
    <a class="navbar-brand" href="#" style="font-size: 5vh;font-weight: 500;text-shadow: 2px 2px 10px #1a1e25;"><em style="color: rgb(199,0,0)">CRIC</em><em style="color: rgb(255, 255, 255);">GEEK</em></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" style="background-color: orange;">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/" style="color: white;text-shadow: 2px 2px 10px black;">Home</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" routerLink="/Match_Info" style="color: white;text-shadow: 2px 2px 10px black;">Matches</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/Rankings" style="color: white;text-shadow: 2px 2px 10px black;">Rankings</a>
    </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
<div class="footer">
  <div class="container-fluid mt-5">
    <div class="card mx-5" style="background-color:#1a1e25;color:white"> 
        <div class="row mb-4">
            <div class="col-md-4 col-sm-4 col-xs-4">
                <div class="footer-text pull-left">
                    <div class="d-flex">
                        <h1 class="font-weight-bold mr-2 px-3" style="color:rgb(199,0,0)"> CRIC<em style="color: white">GEEK</em></h1>
                        
                    </div>
                    <p class="card-text">Ultimate destination for true cricket fan</p>
                    <div class="social mt-2 mb-3"> <i class="fa fa-facebook-official fa-lg"></i> <i class="fa fa-instagram fa-lg"></i> <i class="fa fa-twitter fa-lg"></i> <i class="fa fa-linkedin-square fa-lg"></i> <i class="fa fa-facebook"></i> </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-2"></div>
            <div class="col-md-2 col-sm-2 col-xs-2">
                <h5 class="heading" style="color: #ffffff;">Social</h5>
                <ul>
                    <li>facebook</li>
                    <li>instagram</li>
                </ul>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-2">
                <h5 class="heading" style="color: #ffffff;">Contact Us</h5>
                <ul class="card-text">
                    <li>Phone No.</li>
                    <li>G-Mail</li>
                </ul>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-2">
                <h5 class="heading" style="color: #ffffff;">Others</h5>
                <ul class="card-text">
                    <li>About Us</li>
                    <li>Blog</li>
                    <li>Contact</li>
                    <li>Join Us</li>
                </ul>
            </div>
        </div>
      
  </div>
</div>