
body{
  overflow-x: hidden;
}
.navbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background-color: transparent;
}

.navbar-nav a{
  color: white;
  font-weight: bold;
}



body {
	line-height: 1.7;
	color: lighten(black, 50%);
	font-weight: 300;
	
	background-color: #222831;
	font-size: 16px;
}




