

<div class="Loader"  *ngIf="!score" style="min-height: 100vh;margin-top: 20vh;">
  <div class="d-flex justify-content-center">
      <div class="spinner-border text-white" role="status" style="width: 5vw;height: 5vw;">
          <span class="sr-only"></span>
      </div>
  </div>
</div>



<div class="site-section"  *ngIf="score">
  
  <div class="container">
    <h3 class="section-header">{{page}}</h3>

<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators mt-5">
    <button  *ngFor="let news of newsData.mainNews;let i=index" type="button" data-bs-target="#carouselExampleIndicators" attr.data-bs-slide-to="{{i}}" class="active" aria-current="true" ></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item" *ngFor="let news of newsData.mainNews;let i=index" [ngClass]="{'active': i === 0}">
      <div class="card mb-3 p-3">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="{{news.Image}}" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{news.title}}</h5>
              <p class="card-text">{{news.description}}</p>
              <a href="{{news.link}}">Read More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
  </div>
</div>


<div class="site-section bg-dark">
  <div class="container">
  <div class="row">
    <div class="col-6 title-section">
      <h2 class="heading">More News</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4 mb-4" *ngFor="let news of newsData.moreNews">
      <div class="custom-media d-block">
        <div class="img mb-4">
          <a href="single.html"><img src="{{news.Image}}" alt="Image" class="img-fluid"></a>
        </div>
        <div class="text">
          <h3 class="mb-4">{{news.title}}</h3>
          <p><a href={{news.link}}>Read more</a></p>
        </div>
      </div>
    </div>
    
  </div>
</div>




