@import url('https://fonts.googleapis.com/css2?family=Water+Brush&display=swap');
.item{
    img{
        width: 100%;
        height: 100%;
    }
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: black; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(199,0,0); 
  }


  header {
    width: 100vw;
    height: 100vh;
    background-size:cover;
}

.hidden-spacer {
    height: 56px
}


@media (max-width: 768px) {
  .navbar-collapse
{
  background-color: black;
  padding: 2vw;
}
}
body{
  background-color:#222831; 
}

*{
  margin: 0px;
  padding: 0px;
  transition: .3s;
}

.container{
  width: 100%;
  height: 100vh;
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top:400px;
  @media screen and(min-width: 1100px) {
    left: 8vw;
    
  }
}

.s_bode{
  width: 80vw;
  justify-self: center;
  padding: 50px;
  display: flex;
  position:relative;
  z-index: 1000;
  border-radius: 20px;
  background-image: url(https://images.unsplash.com/photo-1563299796-b729d0af54a5?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mzd8fHN0YWRpdW18ZW58MHx8MHx8&ixlib=rb-1.2.1&w=1000&q=80);
  background-position: 0 -289px;
  background-size: cover;
  overflow: hidden;
}

.News{
  margin-top: 300px;
}


.s_bode:after{
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color:rgb(0,0,0);
  z-index: -2;
  border-radius: 20px;
}


.s_bode:before{
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: -47%;
  background-color:rgb(199,0,0);
  z-index: -1;
  transform: skewX(-10deg);
}

.s_bode img{
  height: 100px;
  width: 100px;
}

.left_section{
  flex-grow: 2;
   display: flex;
   flex-direction: column;
  align-items: center;
}

.mid_section{
  margin: 5vw;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  @media screen and(min-width: 1100px) {
    font-size: 20px;
    
  }
  @media screen and(max-width: 600px) {
    font-size: 10px;
    
  }
  font-weight: bold;
}

.right_section{
  flex-grow:2;
   display: flex;
   flex-direction: column;
   align-items: center;

}

.s_bode h2{
  margin-top: 10px;
  color: white;
  font-size: 26px;
  font-weight:bold;
}


.s_bode p{
 margin-top:5px;
 font-weight:bold;
 font-size: 16px;
 color: #fff;
}


@media screen and (max-width: 850px) {
    .s_bode{
      width: 500px;
       background-position: 0 -209px;
    }
    .News{
      margin-top: 280px;
    }

    .s_bode img{
      width: 80px;
      height: 80px
    }

    .s_bode h2{
     font-size: 18px;
    }
}


@media screen and (max-width: 640px) {
  .container{
    top:300px;
  }
  .News{
    margin-top: 90px;
  }
    .s_bode{
      width: 400px;
      padding: 10px;
      background-position: 0 -190px;
    }

    .s_bode img{
      width: 50px;
      height: 50px
    }

    .s_bode h2{
     font-size: 14px;
    }
    .s_bode h1{
     font-size: 18px;
    }

    .s_bode p{
     font-size: 13px;
    }
}

@media screen and (max-width: 450px) {
  .container{
    top:300px;
  }
  .News{
    margin-top: 90px;
  }
    .s_bode{
      width: 320px;
      padding:10px;
       background-position: 0 -90px;
    }

    .s_bode img{
      width: 50px;
      height: 50px
    }

    .s_bode h2{
     font-size: 14px;
    }
    .s_bode h1{
     font-size: 18px;
    }
}

  
.scrolling-wrapper{
	overflow-x: auto;
}


.video-container {
  width: 80%;
  align-items: center;
  align-content: center;
  margin-left: 10%;
  background: rgb(199,0,0);
  display: inline-block;
}

.responsive-video {  
  position: relative;
  display: block;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}

.responsive-video iframe, .responsive-video video {
  position: absolute;
  width: 100%;
  height: 100%;  
}


.section-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px; 
  background: #2B3044;
}

.section-header h1 {
  font: 400 32px "Montserrat", sans-serif;
  text-transform: uppercase;
  color: #fff;
}




