

.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
  background-color: black;
  margin-left: 1vw;
  margin-right: 1vw;
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.nav-pills .nav-link {
  margin-left: 1vw;
  margin-right: 1vw;
  text-decoration: none;
  color: white;
  font-weight: bold;
  &:hover{
    cursor: pointer;
  }
}

.tab-content{
  padding: 20px;
  background-color: black;
  height: min-content;
  color: black;
}

.card {
  margin: 2vw;
  color: black;
  margin-bottom: 10px;
}





.container { 
	height: 100%;
	margin-bottom: 10px;
}

/* ------------------- */
/* PEN STYLES      -- */
/* ----------------- */

/* MAKE IT CUTE ----- */
.tabs {
	position: relative;
	display: flex;
	min-height:180vh;
	border-radius: 8px 8px 0 0;
	overflow:auto;
}

.tabby-tab {
	flex: 1;
}

.tabby-tab label {
	display: block;
	box-sizing: border-box;
	/* tab content must clear this */
		height: 40px;
	
	padding: 10px;
	text-align: center;
	background: black;
	color: white;
	font-weight: bold;
	cursor: pointer;
	transition: background 0.5s ease;
	
}

.tabby-tab label:hover {
	background: red;
}

.tabby-content {
	position: absolute;
	
	left: 0; bottom: 0; right: 0;
	/* clear the tab labels */
		top: 40px; 
	
	padding: 20px;
	border-radius: 0 0 8px 8px;
	background: rgb(199,0,0);
	height: min-content;
	transition: 
		opacity 0.8s ease,
		transform 0.8s ease		;
	
	/* show/hide */
		opacity: 0;
		transform: scale(0.1);
		transform-origin: top left;
	
}

.tabby-content img {
	float: left;
	margin-right: 20px;
	border-radius: 8px;
}


/* MAKE IT WORK ----- */

.tabby-tab [type=radio] { display: none; }
[type=radio]:checked ~ label {
	background: rgb(199,0,0);
	z-index: 2;
}

[type=radio]:checked ~ label ~ .tabby-content {
	z-index: 1;
	
	/* show/hide */
		opacity: 1;
		transform: scale(1);
}

/* BREAKPOINTS ----- */
@media screen and (max-width: 767px) {
	.tabs { min-height: 400px;}
}

@media screen and (max-width: 480px) {
	.tabs { min-height: 580px; }
	.tabby-tab label { 
		height: 60px;
	}
	.tabby-content { top: 60px; }
	.tabby-content img {
		float: none;
		margin-right: 0;
		margin-bottom: 20px;
	}
}


table{
	color: white;
	font-family: 'Montserrat',sans-serif;
	background-color: black;
	th{
	  background-color: rgb(199,0,0);
	}
  }
  
  tr {
	padding: 1.5vw;
	font-size: 2vh;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
  }
  td {
	padding: 1.5vw;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
  }
  th{
	padding: 1.5vw;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
  }
  
