<div class="site-wrap">


  <div class="hero overlay" style="background-image: url('assets/images/rankingsHeader.jpg');">
      <div class="container">
          <div class="row align-items-center">
              <div class="col-lg-5 mx-auto text-center">
                  <h1 class="text-white">Rankings</h1>
                  <p>ICC Rakings of Teams & Players</p>
              </div>
          </div>
      </div>
  </div>

<div class="Loader"  *ngIf="!score" style="min-height: 100vh;margin-top: 20vh;">
  <div class="d-flex justify-content-center">
      <div class="spinner-border text-white" role="status" style="width: 5vw;height: 5vw;">
          <span class="sr-only"></span>
      </div>
  </div>
</div>

<div class="container"  *ngIf="score">

	<div class="tabs">
		<div class="tabby-tab">
			<input type="radio" id="tab-1" name="tabby-tabs" checked>
			<label for="tab-1">Batting</label>
			<div class="tabby-content">

                    
        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
          <li class="nav-item" role="presentation">
            <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">TEST</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">ODI</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">T20</button>
          </li>
        
        </ul>
        <div class="tab-content" id="pills-tabContent">
          <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab" tabindex="0">
            <table class="w-100">
              <tr>
                  <th>Ranking</th>
                  <th></th>
                  <th>Name</th>
                  <th>Rating</th>
              </tr>
              <tr *ngFor="let data of testbat">
                      <td >{{data.index}}</td>
                      <td ><img src="{{data.photo[0]}}"></td>
                      <td >{{data.ranks}}</td>
                      <td >{{data.ratings}}</td>
              </tr>
              
         </table>
          </div>
          <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab" tabindex="0">
            <table class="w-100">
              <tr>
                  <th>Ranking</th>
                  <th></th>
                  <th>Name</th>
                  <th>Rating</th>
              </tr>
              <tr *ngFor="let data of onebat">
                      <td >{{data.index}}</td>
                      <td ><img src="{{data.photo[0]}}"></td>
                      <td >{{data.ranks}}</td>
                      <td >{{data.ratings}}</td>
              </tr>
              
         </table>
          </div>
          <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab" tabindex="0">
            <table class="w-100">
              <tr>
                  <th>Ranking</th>
                  <th></th>
                  <th>Name</th>
                  <th>Rating</th>
              </tr>
              <tr *ngFor="let data of t20bat">
                      <td >{{data.index}}</td>
                      <td ><img src="{{data.photo[0]}}"></td>
                      <td >{{data.ranks}}</td>
                      <td >{{data.ratings}}</td>
              </tr>
              
         </table>
          </div>
      
        </div>


			</div>
		</div>

		<div class="tabby-tab">
			<input type="radio" id="tab-2" name="tabby-tabs">
			<label for="tab-2">Bowling</label>
			<div class="tabby-content">


                      
        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
          <li class="nav-item" role="presentation">
            <button class="nav-link active" id="pills-home-tab1" data-bs-toggle="pill" data-bs-target="#pills-home1" type="button" role="tab" aria-controls="pills-home1" aria-selected="true">TEST</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="pills-profile-tab1" data-bs-toggle="pill" data-bs-target="#pills-profile1" type="button" role="tab" aria-controls="pills-profile1" aria-selected="false">ODI</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="pills-contact-tab1" data-bs-toggle="pill" data-bs-target="#pills-contact1" type="button" role="tab" aria-controls="pills-contact1" aria-selected="false">T20</button>
          </li>
        
        </ul>
        <div class="tab-content" id="pills-tabContent1">
          <div class="tab-pane fade show active" id="pills-home1" role="tabpanel" aria-labelledby="pills-home-tab1" tabindex="0">
            <table class="w-100">
              <tr>
                  <th>Ranking</th>
                  <th></th>
                  <th>Name</th>
                  <th>Rating</th>
              </tr>
              <tr *ngFor="let data of testbowl">
                      <td >{{data.index}}</td>
                      <td ><img src="{{data.photo[0]}}"></td>
                      <td >{{data.ranks}}</td>
                      <td >{{data.ratings}}</td>
              </tr>
              
         </table>
          </div>
          <div class="tab-pane fade" id="pills-profile1" role="tabpanel" aria-labelledby="pills-profile-tab1" tabindex="0">
            <table class="w-100">
              <tr>
                  <th>Ranking</th>
                  <th></th>
                  <th>Name</th>
                  <th>Rating</th>
              </tr>
              <tr *ngFor="let data of onebowl">
                      <td >{{data.index}}</td>
                      <td ><img src="{{data.photo[0]}}"></td>
                      <td >{{data.ranks}}</td>
                      <td >{{data.ratings}}</td>
              </tr>
              
         </table>
          </div>
          <div class="tab-pane fade" id="pills-contact1" role="tabpanel" aria-labelledby="pills-contact-tab1" tabindex="0">
            <table class="w-100">
              <tr>
                  <th>Ranking</th>
                  <th></th>
                  <th>Name</th>
                  <th>Rating</th>
              </tr>
              <tr *ngFor="let data of t20bowl">
                      <td >{{data.index}}</td>
                      <td ><img src="{{data.photo[0]}}"></td>
                      <td >{{data.ranks}}</td>
                      <td >{{data.ratings}}</td>
              </tr>
              
         </table>
          </div>
      
        </div>
        

			</div>
		</div>

		<div class="tabby-tab">
			<input type="radio" id="tab-3" name="tabby-tabs">
			<label for="tab-3">All Rounders</label>            
      <div class="tabby-content">        
      <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="pills-home-tab2" data-bs-toggle="pill" data-bs-target="#pills-home2" type="button" role="tab" aria-controls="pills-home2" aria-selected="true">TEST</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="pills-profile-tab2" data-bs-toggle="pill" data-bs-target="#pills-profile2" type="button" role="tab" aria-controls="pills-profile2" aria-selected="false">ODI</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="pills-contact-tab2" data-bs-toggle="pill" data-bs-target="#pills-contact2" type="button" role="tab" aria-controls="pills-contact2" aria-selected="false">T20</button>
        </li>
      
      </ul>
      <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-home2" role="tabpanel" aria-labelledby="pills-home-tab2" tabindex="0">
          <table class="w-100">
            <tr>
                <th>Ranking</th>
                <th></th>
                <th>Name</th>
                <th>Rating</th>
            </tr>
            <tr *ngFor="let data of testal">
                    <td >{{data.index}}</td>
                    <td ><img src="{{data.photo[0]}}"></td>
                    <td >{{data.ranks}}</td>
                    <td >{{data.ratings}}</td>
            </tr>
            
       </table>
        </div>
        <div class="tab-pane fade" id="pills-profile2" role="tabpanel" aria-labelledby="pills-profile-tab2" tabindex="0">
          <table class="w-100">
            <tr>
                <th>Ranking</th>
                <th></th>
                <th>Name</th>
                <th>Rating</th>
            </tr>
            <tr *ngFor="let data of oneal">
                    <td >{{data.index}}</td>
                    <td ><img src="{{data.photo[0]}}"></td>
                    <td >{{data.ranks}}</td>
                    <td >{{data.ratings}}</td>
            </tr>
            
       </table>
        </div>
        <div class="tab-pane fade" id="pills-contact2" role="tabpanel" aria-labelledby="pills-contact-tab2" tabindex="0">
          <table class="w-100">
            <tr>
                <th>Ranking</th>
                <th></th>
                <th>Name</th>
                <th>Rating</th>
            </tr>
            <tr *ngFor="let data of t20al">
                    <td >{{data.index}}</td>
                    <td ><img src="{{data.photo[0]}}"></td>
                    <td >{{data.ranks}}</td>
                    <td >{{data.ratings}}</td>
            </tr>
            
       </table>
        </div>
    
      </div>
                  
			</div>
		</div>

		<div class="tabby-tab">
			<input type="radio" id="tab-4" name="tabby-tabs">
			<label for="tab-4">Teams</label>
			<div class="tabby-content">

        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
          <li class="nav-item" role="presentation">
            <button class="nav-link active" id="pills-home-tab3" data-bs-toggle="pill" data-bs-target="#pills-home3" type="button" role="tab" aria-controls="pills-home3" aria-selected="true">TEST</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="pills-profile-tab3" data-bs-toggle="pill" data-bs-target="#pills-profile3" type="button" role="tab" aria-controls="pills-profile3" aria-selected="false">ODI</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="pills-contact-tab3" data-bs-toggle="pill" data-bs-target="#pills-contact3" type="button" role="tab" aria-controls="pills-contact3" aria-selected="false">T20</button>
          </li>
        
        </ul>
        <div class="tab-content" id="pills-tabContent">
          <div class="tab-pane fade show active" id="pills-home3" role="tabpanel" aria-labelledby="pills-home-tab3" tabindex="0">
 
              <table class="w-100">
                <tr>
                    <th>Ranking</th>
                    <th></th>
                    <th>Name</th>
                    <th></th>
                    <th>Rating</th>
                </tr>
                <tr *ngFor="let data of teamrankings">
                        <td *ngIf="teamrankings.indexOf(data)>=0&&teamrankings.indexOf(data)<10">{{data.index}}</td>
                        <td *ngIf="teamrankings.indexOf(data)>=0&&teamrankings.indexOf(data)<10"><img style="width: 40px;"  src={{data.flag}}/></td>
                        <td *ngIf="teamrankings.indexOf(data)>=0&&teamrankings.indexOf(data)<10">{{data.country}}</td>
                        <td *ngIf="teamrankings.indexOf(data)>=0&&teamrankings.indexOf(data)<10">{{data.ratings[0]}}</td>
                        <td *ngIf="teamrankings.indexOf(data)>=0&&teamrankings.indexOf(data)<10">{{data.ratings[1]}}</td>
                </tr>
           </table>
              
    
          </div>
          <div class="tab-pane fade" id="pills-profile3" role="tabpanel" aria-labelledby="pills-profile-tab3" tabindex="0">
            <table class="w-100">
              <tr>
                  <th>Ranking</th>
                  <th></th>
                  <th>Name</th>
                  <th></th>
                  <th>Rating</th>

              </tr>
              <tr *ngFor="let data of teamrankings">
                      <td *ngIf="teamrankings.indexOf(data)>=10&&teamrankings.indexOf(data)<30">{{data.index}}</td>
                      <td *ngIf="teamrankings.indexOf(data)>=10&&teamrankings.indexOf(data)<30"><img style="width: 40px;"  src={{data.flag}}/></td>
                      <td *ngIf="teamrankings.indexOf(data)>=10&&teamrankings.indexOf(data)<30">{{data.country}}</td>
                      <td *ngIf="teamrankings.indexOf(data)>=10&&teamrankings.indexOf(data)<30">{{data.ratings[0]}}</td>
                      <td *ngIf="teamrankings.indexOf(data)>=10&&teamrankings.indexOf(data)<30">{{data.ratings[1]}}</td>
              </tr>
         </table>
          </div>
          <div class="tab-pane fade" id="pills-contact3" role="tabpanel" aria-labelledby="pills-contact-tab3" tabindex="0">
            <table class="w-100">
              <tr>
                  <th>Ranking</th>
                  <th></th>
                  <th>Name</th>
                  <th></th>
                  <th>Rating</th>
              </tr>
              <tr *ngFor="let data of teamrankings">
                      <td *ngIf="teamrankings.indexOf(data)>=30&&teamrankings.indexOf(data)<104">{{data.index}}</td>
                      <td *ngIf="teamrankings.indexOf(data)>=30&&teamrankings.indexOf(data)<104"><img style="width: 40px;"  src={{data.flag}}/></td>
                      <td *ngIf="teamrankings.indexOf(data)>=30&&teamrankings.indexOf(data)<104">{{data.country}}</td>
                      <td *ngIf="teamrankings.indexOf(data)>=30&&teamrankings.indexOf(data)<104">{{data.ratings[0]}}</td>
                      <td *ngIf="teamrankings.indexOf(data)>=30&&teamrankings.indexOf(data)<104">{{data.ratings[1]}}</td>
              </tr>
         </table>
          </div>
      
        </div>


        
                  
				
			</div>
		</div>
		
	</div>
</div>

 
  