<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="margin-top: 20vh;margin-left: 20px;margin-right: 20px;">
  <h2 style="color: white;padding: 10px;">You can watch Live matches by taking subscription. CricGeek doesn't promote piracy.</h2>

<div>
  <label for="stream-dropdown" style="color: white;padding: 10px;">Select a streaming option:</label>
  <select id="stream-dropdown" (change)="onStreamSelect($event)" style="padding: 10px;width: min-content;background-color: white;border-radius: 20px;">
    <option value="https://stream.crichd.vip/update/star1hi.php">Start Sports</option>
    <option value="https://stream.crichd.vip/update/sscricket.php">Super Sports</option>
    <option value="https://stream.crichd.vip/update/willowcricket.php">Willow Cricket</option>
    <option value="https://stream.crichd.vip/update/fox501.php">Fox Cricket</option>
  </select>

  <div style="height: min-content;margin: 2vw;">
    <div class="video-container">
      <div class="responsive-video">
        <iframe id="myFrame" [src]="selectedStream" width="80vw" height="50vh" marginheight="0" marginwidth="0" scrolling="no" frameborder="0" allowfullscreen allow="encrypted-media"></iframe>
      </div>
    </div>
  </div>
</div>

    
</body>
</html>
